
<div class="row" style="margin-top: 20px;">
         {{#each companyV}}
    <div class="col col-lg-3">
        <a href="/company/info/{{this.slug}}" style="text-decoration: none;">
        <div class="card " style="margin-top: 5px;">
            <img src="{{this.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text"><small class="text-muted">{{this.date}}</small></p>
            </div>
        </div>
        </a>
    </div>
         {{/each}}
</div>